<style>
  .btn-search{
    height: 2rem;
    width: 11rem;
    background-color: #fe424d;
    color: aliceblue;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search i{
    display: inline;
    padding-right: 0.5rem;
  }
  .search-inp{
     border-radius: 25px;
     padding: 0.5rem 3rem 0.5rem 3rem;
     
  }
  @media (max-width: 768px){
  .navbar-collapse{
    background-color: white;
    z-index: 1050;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  }
}
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top"> <!--here I changed navbar-expand-lg to navbar-expand-md to make sure my nabar is in expanded form even in medium screen. I also added border bottom to show bottom of border. We also added sticky-top class-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
         <form class="d-flex" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search  destinations" aria-label="Search"/>
        <button class="btn btn-search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </form>
        </div>

        <div class="navbar-nav ms-auto"> <!--ms-auto means:
          "Push me as far to the right as possible by filling all left-side space with margin."-->
           <a class="nav-link" href="/listings/new">Add new listing</a>
          <% if(!currUser) { %>
          <a class="nav-link " aria-current="page" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } else{%>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>