<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3 class="mt-4">Create a new Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please add Title
              </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Enter description</label>
            <textarea name="listing[description]" placeholder="Write description" type="text" class="form-control" required></textarea>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please add description
              </div>
        </div>
        
        <div class="mb-3">
            <label for="upload-image" class="form-label mt-2">Upload Image file</label>
            <input name="listing[image]" placeholder="upload image" type="file" class="form-control" required >
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please upload an image
            </div>
        </div>
       
        <div class="row">

            <div class="mb-3 col-md-4" >
                <label for="price" class="form-label">Enter Price</label>
                <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please add Price
                  </div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Enter Country</label>
                <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please add Country Name
                  </div>
            </div>

        </div>
       
        
        <div class="mb-3">
            <label for="location" class="form-label">Enter location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please add Location
              </div>
        </div>
        <br>
        <button type="submit" class="mb-4 add-btn">Add</button>
</div>
</div>
</form>
</body>
